body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
header div{
    background-color: green;
    color:white;
    height: 150px;
    margin-top: -20px;
}
header ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
img{
    float: left;
    max-width: 100px;
}
fieldset{
    
    margin: auto;
    border: 1px solid green;
    border-radius: 30;
    max-width: 500px;
    padding: 2em;
    font-size: 1em;
    
}
.form-group{
    padding: 1em;
}
.tweet {
    background-color: #f5f5f5;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 10px;
    margin: 1em;
    max-width: 400px; /* Pour limiter la largeur */
    margin: 0 auto; /* Pour centrer horizontalement */
    text-align: center; /* Pour centrer le contenu */
}
.tweet strong{
    font-weight: bold;
}
.tweet img{
    max-width: 100px;
}
.tweet p{
    margin-top: 5px;
    margin-left: 5px;
    justify-content: flex-end;
}
.tweet .timestamp {
    color: #657786;
    font-size: 12px;
}
.rating{
    display: inline-flex;
    justify-content: space-around;
}
.comment{
    margin: 1em;
    border-bottom: 1px #657786;
}
.tweet_text{
    text-decoration: none;
    color: black;
}
.publication {
    text-align: center;
}